{
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.0"
    }
  },
  "extends": ["standard", "standard-react", "plugin:jest/recommended"],
  "plugins": ["jest"],
  rules: {
    'jest/valid-expect': 0,
    'react/jsx-boolean-value': 0
  }
}
