{
  "settings": {
    "react": {
      "pragma": "React",
      "version": "latest"
    }
  },
  "extends": ["standard", "standard-react", "plugin:jest/recommended"],
  "plugins": ["react","jest"],
  rules: {
    'jest/valid-expect': 0,
    'react/jsx-boolean-value': 0
  },
  parser: "babel-eslint"
}
